*client_secret.json*
backups/*
.gradle/*
.idea/*
app/build/*
app/.gradle/*
app/gradle/wrapper/gradle-wrapper.jar
app/.gradle/4.8.1/*
app/out*
app/*.bin
app/*/*.bin
app/*.docx
tderr.log
stdout.log
*.class
*.lock
*.bin
*.iml
*.zip
